class {
  onCreate() {
    this.state = { mounted: false };
  }
  onMount() {
    this.state.mounted = true;
  }
}

<if(state.mounted)>
  <micro-frame-sse src="missing" name="test" read(e) { return [e.lastEventId, e.data] }>
    <@catch|err|>
      SSE Error: ${err.message}
    </@catch>
  </micro-frame-sse>
  <micro-frame-slot from="test" slotId="slot_1">
    <@catch|err|>
      Slot_1 Error: ${err.message}
    </@catch>
  </micro-frame-slot>
  <micro-frame-slot from="test" slotId="slot_2" />

  <micro-frame-sse src="missing" name="test_2" read(e) { return [e.lastEventId, e.data] } />
  <micro-frame-slot from="test" slotId="slot_1">
    <@catch|err|>
      Slot_1 Error: ${err.message}
    </@catch>
  </micro-frame-slot>
  <micro-frame-slot from="test" slotId="slot_2">
    <@catch|err|>
      Slot_2 Error: ${err.message}
    </@catch>
  </micro-frame-slot>
</if>
