<div>
  <if(state.err)>
    <${input.catch}(state.err)/>
  </if>
  <else>
    <${state.loading && input.loading}/>

    <!--
    We put the streamed html in a preserved fragment.
    This allows Marko to avoid diffing that section.
    -->
    $ out.bf(input.src, component, true).ef();
  </else>
</div>
