<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Example</title>
  <esbuild-assets/>
</head>
<body>
  <div>Host app</div>
  <micro-frame-sse src="missing" name="test" read(e) { return [e.lastEventId, e.data] } />
  <micro-frame-slot from="test" slot="slot_1">
    <@catch|err|>
      Slot_1 Error: ${err.message}
    </@catch>
  </micro-frame-slot>
  <micro-frame-slot from="test" slot="slot_2">
    <@catch|err|>
      Slot_2 Error: ${err.message}
    </@catch>
  </micro-frame-slot>
</body>
</html>
