<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Example</title>
  <esbuild-assets/>
</head>
<body>
  <div>Host app</div>
  <micro-frame src="embed" class={"test": true} style=["display:block", null, { marginRight: 16 }] />
</body>
</html>
