class {
  onCreate() {
    this.state = { mounted: false };
  }
  onMount() {
    this.state.mounted = true;
  }
}

<div>mounted: ${state.mounted}</div>
<micro-frame-sse src="embed" name="test" read(e) { return [e.lastEventId, e.data] } />
<micro-frame-slot from="test" slot="slot_1" />
<micro-frame-slot from="test" slot="slot_2" />