<esbuild-assets/>
<div>
  Embedded App.

  <script src=`/external.js?value=a`/>
  <script src=`/external.js?value=b` async/>
  <script src=`/external.js?value=c` defer/>
  <script src=`/external.js?value=d` nomodule/>
  <script src=`/external.js?value=e` type="module"/>
  After blocking.
</div>
