<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Example</title>
  <esbuild-assets/>
</head>
<body>
  <div>Host app</div>
  <micro-frame-sse src="embed" name="test" read(e) { return [e.lastEventId, e.data] } />
  <micro-frame-slot from="wrong_sourcename" slotId="slot_1" />
  <micro-frame-slot from="test" slotId="slot_2" />
</body>
</html>
