class {
  onCreate() {
    this.state = { mounted: false };
  }
  onMount() {
    this.state.mounted = true;
  }
}

<if(state.mounted)>
  <micro-frame src="embed">
    <@loading>
      Loading...
    </@loading>
  </micro-frame>
</if>
