class {
  onCreate() {
    this.state = { open: true };
  }
  toggle() {
    this.state.open = !this.state.open;
  }
}

<button onClick("toggle")>Toggle</button>
<if(state.open)>
  <micro-frame-sse src="embed" name="test" />
  <micro-frame-slot from="test" slot="slot_1" />
  <micro-frame-slot from="test" slot="slot_2" />
</if>
