class {
  onCreate() {
    this.state = { mounted: false };
  }
  onMount() {
    this.state.mounted = true;
  }
}

<if(state.mounted)>
  <micro-frame src="embed" class={"test": true} style=["display:block", null, { marginRight: 16 }] />
</if>
