import { wait } from "../../../../../__tests__/queue";

$ const first = 'id: slot_1\ndata: test_html for slot_1\n\n';
$ const second = 'id: slot_2\ndata: test_html for slot_2\n\n';

<await(wait())>
  <@then>
    ${first}
    <await(wait())>
      <@then>
        ${second}
      </@then>
    </await>
  </@then>
</await>
