<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Example</title>
    <esbuild-assets/>
  </head>
  <body>
    <div>Host app</div>
    <await(new Promise((res) => setTimeout(res))) client-reorder>
      <@then>
        <micro-frame src="embed">
          <@catch|err|>${err.message}</@catch>
        </micro-frame>
      </@then>
    </await>
  </body>
</html>
