import { wait } from "../../../../../__tests__/queue";
import fs from "fs";
import path from "path";

$ const slot_1_html = fs.readFileSync(path.resolve(__dirname ,'slot_1.html'), 'utf8');
$ const slot_2_html = fs.readFileSync(path.resolve(__dirname ,'slot_2.html'), 'utf8');
$ const first = `id: slot_1\ndata: ${slot_1_html.replace(/\r?\n/g, '')}\n\n`;
$ const second = `id: slot_2\ndata: ${slot_2_html.replace(/\r?\n/g, '')}\n\n`;
$ const third = `id: slot_1\ntype: update\ndata: next chunk for slot_1`;

<await(wait())>
  <@then>
    $!{first}
    $!{second}
    $!{third}
  </@then>
</await>
