<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Example</title>
  <esbuild-assets/>
</head>
<body>
  <div>Host app</div>
  <micro-frame-sse src="embed" name="test" read=(e => [e.lastEventId, e.data]) />
  <await(new Promise(res => setTimeout(res, 1000)))>
    <@then>
      <micro-frame-slot from="test" slot="slot_1">
        <@catch|err|>
          Slot_1 Error: ${err.message}
        </@catch>
      </micro-frame-slot>
      <micro-frame-slot from="test" slot="slot_2">
        <@catch|err|>
          Slot_2 Error: ${err.message}
        </@catch>
      </micro-frame-slot>
      <micro-frame-slot from="test" slot="non_exist" timeout=200>
        <@catch|err|>
          non_exist Error: ${err.message}
        </@catch>
      </micro-frame-slot>
    </@then>
  </await>
</body>
</html>
