class {
  onCreate() {
    this.state = { mounted: false };
  }
  onMount() {
    this.state.mounted = true;
  }
}

<if(state.mounted)>
  <micro-frame-sse src="embed" name="test" read=(e => [e.lastEventId, e.data]) />
  <micro-frame-slot from="test_error" slot="slot_1">
    <@catch|err|>
      Slot_1 Error: ${err.message}
    </@catch>
  </micro-frame-slot>
  <micro-frame-slot from="test" slot="slot_2" />
</if>
